<%= form_for @chart do |f| %>
  <%= f.hidden_field :project_id, :value => @project.id %>
  <%= f.hidden_field :user_id, :value => User.current.id %>

<div class='box tabular'>
  <p>
    <%= f.label l(:field_name) %>
    <%= f.text_field :name, required: true, value: params[:name], :id => 'name_field' %>
  </p>
  <p>
    <%= f.label l(:field_chart_type) %>
    <%= f.select :chart_type, @chart_type_options, { selected: params[:chart_type], include_blank: true }, :required => true, :id => 'chart_type_select' %>
  </p>
  <% if User.current.allowed_to?(:create_public_charts, @project) %>
  <p>
    <%= f.check_box :public, checked: params[:public] == 'true', :id => 'public_checkbox' %>
    <%= f.label l(:field_is_public) %>
  </p>
  <% end %>
  <p>
    <%= f.label l(:field_tracker) %>
    <%= f.select :tracker_id, @tracker_options, { selected: params[:tracker_id], include_blank: true }, :required => true, :id => 'tracker_select' %>
  </p>

  <p>
    <% params[:range_integer] ||= 30 %>
    <%= f.label l(:label_in_the_past_days) %>
    <%= f.text_field :range_integer, :required => true, value: params[:range_integer], :id => 'range_field' %>
    <%= f.select :range_type, @range_type_options, { selected: params[:range_type], include_blank: false }, :id => 'date_range_type_select' %>
  </p>
  
  <% unless @time_options.nil? %>
    <p>
      <%= f.label l(:label_time_tracking) %>
      <%= f.select :time, @time_options, { selected: params[:time], include_blank: true }, :required => false, :id => 'time_tracking_select' %>
    </p>
  <% end %>
  
  <% unless @group_by_field_options.nil? %>
    <p>
      <%= f.label l(:field_group_by) %>
      <%= f.select :group_by_field, @group_by_field_options, { selected: params[:group_by_field], include_blank: true }, :required => true, :id => 'group_by_select' %>
    </p>
  <% end %>
</div>
  
  <p>
    <%= f.submit l(:button_submit) %>
  </p>
<% end %>