<h2>Edit <%= @chart.name %></h2>

<%= form_for @chart do |f| %>
<div class='box tabular'>
  
  <p>
    <%= f.label l(:field_name) %>
    <%= f.text_field :name, :required => true %>
  </p>
  <% if User.current.allowed_to?(:create_public_charts, @project) %>
  <p>
    <%= f.check_box :public %>
    <%= f.label l(:field_is_public) %>
  </p>
  <% end %>
  <p>
    <%= f.label l(:label_in_the_past_days) %>
    <%= f.text_field :range_integer, :required => true %>
    <%= f.select :range_type, { l(:label_day_plural) => 'days', l(:label_month_plural) => 'months', l(:label_year_plural) => 'years' }, include_blank: false %>
  </p>
  <% unless @chart.predefined? %>
    <p>
      <%= f.label l(:field_group_by) %>
      <%= f.select :group_by_field, group_by_field_options(@chart.tracker_id), include_blank: true, :required => true unless @chart.tracker_id == 0 %>
      <%= f.select :group_by_field, { l(:field_tracker) => 'tracker' }.merge(standard_fields), include_blank: true, :required => true if @chart.tracker_id == 0 %>
    </p>
  <% end %>
</div>

<p>
  <%= f.submit l(:button_save) %>
</p>
<% end %>