<h2>Edit <%= @chart.name %></h2>

<%= form_for @chart do |f| %>
<div class='box tabular'>
  
  <p>
    <%= f.label 'Chart name:' %>
    <%= f.text_field :name, :required => true %>
  </p>
  <% if User.current.allowed_to?(:create_public_charts, @project) %>
  <p>
    <%= f.check_box :public %>
    <%= f.label 'Public chart' %>
  </p>
  <% end %>
  <p>
    <%= f.label 'Chart type:' %>
    <%= f.select :chart_type, chart_type_options, { include_blank: true }, :required => true %>
  </p>
  <p>
    <%= f.label 'Group by issue field:' %>
    <%= f.select :group_by_field, group_by_field_options(@chart.tracker_id), include_blank: true unless @chart.tracker_id == 0 %>
    <%= f.select :group_by_field, { 'Tracker' => 'tracker' }.merge(standard_fields), include_blank: true if @chart.tracker_id == 0 %>
  </p>
</div>

<p>
  <%= f.submit 'Save' %>
</p>
<% end %>