<%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

<%= render :partial => 'action_menu' %>

<h2><%= l(:label_my_charts) %></h2>

  <div class="splitcontent" style="overflow:hidden;">
    <% @my_charts.each do |chart| %>
      <div class="<%= cycle("splitcontentleft", "splitcontentright") %>">
        <h3><%= link_to chart.name, chart_path(chart) %></h3>
        <%= Tracker.find(chart.tracker_id).name + ' ' + l(:label_issue_plural).downcase if chart.tracker_id > 0 %>
        <%= l(:label_issues_visibility_all) if chart.tracker_id == 0 %>
        <%= '(' + l(:label_n_days, count: chart.range_integer) + ')' if chart.range_type == 'days' %>
        <%= '(' + l(:label_n_months, count: chart.range_integer) + ')' if chart.range_type == 'months' %>
        <%= '(' + l(:label_n_years, count: chart.range_integer) + ')' if chart.range_type == 'years' %>
        <%= render_chart(chart) %>
      </div>
    <% end %>
  </div>

<h2><%= l(:label_public_charts) %></h2>

  <div class="splitcontent" style="overflow:hidden;">
    <% @public_charts.each do |chart| %>
      <div class="<%= cycle("splitcontentleft", "splitcontentright") %>">
        <h3><%= link_to chart.name, chart_path(chart) %></h3>
        <%= Tracker.find(chart.tracker_id).name + ' ' + l(:label_issue_plural).downcase if chart.tracker_id > 0 %>
        <%= l(:label_issues_visibility_all) if chart.tracker_id == 0 %>
        <%= '(' + l(:label_n_days, count: chart.range_integer) + ')' if chart.range_type == 'days' %>
        <%= '(' + l(:label_n_months, count: chart.range_integer) + ')' if chart.range_type == 'months' %>
        <%= '(' + l(:label_n_years, count: chart.range_integer) + ')' if chart.range_type == 'years' %>
        <%= render_chart(chart) %>
      </div>
    <% end %>
  </div>
