<%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

<%= render :partial => 'chart_menu' %>

<h2><%= @chart.name %></h2>

<%= Tracker.find(@chart.tracker_id).name + ' trackers' if @chart.tracker_id > 0 %>
<%= 'All trackers' if @chart.tracker_id == 0 %>
created in the last
<%= @chart.range_integer.to_s + ' ' + @chart.range_type %>

<%= render_chart(@chart) %>
