<%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>

<%= render :partial => 'chart_menu' %>

<h2><%= @chart.name %></h2>

<%= Tracker.find(@chart.tracker_id).name + ' issues' if @chart.tracker_id > 0 %>
<%= 'All issues' if @chart.tracker_id == 0 %>
created in the last
<%= @chart.range_integer.to_s + ' ' + @chart.range_type %>

<%= render_chart(@chart) %>

<% if { 'Tracker' => 'tracker' }.merge(standard_fields).values.include? @chart.group_by_field %>
  <% objects = render_link_objects(@chart) %>
  <% unless objects.empty? %>
  <table class="list issue-report">
    <thead>
      <tr>
        <th></th>
        <th>Open</th>
        <th>Closed</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <% objects.each do |o| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="name"><%= link_to o.name, chart_issues_path(@chart, o.id, '*') %></td>
        <td><%= link_to chart_issues_count(@chart, o.id, 'o'), chart_issues_path(@chart, o.id, 'o') %></td>
        <td><%= link_to chart_issues_count(@chart, o.id, 'c'), chart_issues_path(@chart, o.id, 'c') %></td>
        <td><%= link_to chart_issues_count(@chart, o.id, '*'), chart_issues_path(@chart, o.id, '*') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

